<div id="foundation" class="container text-justify">

  <div class="row">

    <div class="col-xs-12 col-md-2 top21 text-center">
      <%= link_to foundations_path do %>
          <i class="fa fa-2x fa-backward"></i>
          <p class="top8">Inapoi la lista <br/> ONG-uri</p>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-8">

      <h2>
        ONG - Wild side of life
      </h2>

      <section>

        <h3>Scop</h3>

        <p>

          Mişcare democratică naţională, membră activă al Alianţei Internaţionale Salvati Copiii, propune o iniţiativă
          pentru drepturile copiilor.

        </p>

      </section>

      <section>

        <h3>Descriere</h3>

        <p>
          Salvaţi Copiii România este o organizaţie neguvernamentală, de utilitate publică, non-profit care, din 1990
          militeaza activ pentru drepturile copilului si protectia copilului în România.

          În 2015, Salvaţi Copiii va împlini 25 de ani. 25 DE ANI în care am învăţat de la copii că societatea şi lumea în
          care trăim se pot schimba, pot fi mai bune şi mai frumoase, prin educaţie, perseverenţă şi încredere.

          Lucrăm cu copiii, dar şi cu părinţii şi cadrele didactice: armonizarea acestei triade este esenţială pentru
          educaţia şi bunăstarea copiilor. In cei 25 de ani, Salvati Copiii a inclus în programele sale 1.150.000 de copii.
          Cei 1.800 de voluntari s-au implicat în activităţile directe cu copiii şi partenerii organizaţiei.

          În prezent, organizaţia desfăşoară programe în 39 de localităţi, are filiale în 12 judeţe şi în Bucureşti, peste
          6.000 de membri şi mai mult de 1.800 de voluntari, în majoritate tineri.

          Salvaţi Copiii România este membru al Save the Children International, cea mai mare organizaţie independentă din
          lume ce promoveaza drepturile copilului si protectia copilului. Organizatia cuprinde 30 de membri şi desfăşoară
          programe în peste 120 de ţări.
        </p>

      </section>

      <section>

        <h3>Ultimele proiecte</h3>

        <% (1..3).each do | project | %>

            <div class="foundation-project">

              <h5>Proiect <%= project %></h5>

              <p>

                Lucrăm cu copiii, dar şi cu părinţii şi cadrele didactice: armonizarea acestei triade este esenţială pentru
                educaţia şi bunăstarea copiilor. In cei 25 de ani, Salvati Copiii a inclus în programele sale 1.150.000 de copii.
                Cei 1.800 de voluntari s-au implicat în activităţile directe cu copiii şi partenerii organizaţiei.

                În prezent, organizaţia desfăşoară programe în 39 de localităţi, are filiale în 12 judeţe şi în Bucureşti, peste
                6.000 de membri şi mai mult de 1.800 de voluntari, în majoritate tineri.

              </p>

            </div>

        <% end %>

      </section>

    </div>


    <div class="col-xs-12 col-md-2 top21">
      <button class="btn btn-block btn-success">Voi dona!</button>
    </div>

  </div>


</div>


