

<div class="container">

  <%= link_to root_path, class: 'root-path' do %>
      <h1 class="text-center">2 la suta</h1>

      <h4 class="text-center">
        100% doneaza <em>2 la suta</em>
      </h4>
  <% end %>

  <div class="row">

    <div class="col-xs-12 col-md-2 text-center">

      <div class="social-icon-wrapper top34">

        <p>
          <i class="fa fa-4x fa-facebook"></i>
        </p>
        <p>
          <span>1900</span>
        </p>

      </div>

      <div class="social-icon-wrapper top55">
        <p>
        <i class="fa fa-4x fa-google-plus"></i>
        </p>
        <p>
          <span>290</span>
        </p>
      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-8">

      <div class="section">
        <h3>Stiu o gramada de lucruri. Totusi, ce este <em>2 la suta</em>?</h3>

        <p>Cum frondator unda, omnes bursaes gratia nobilis, festus medicinaes. Usus ridetiss, tanquam noster saga.</p>
        <span>read more</span>

      </div>

      <div class="section">
        <h3>Stiu ce este <em>2 la suta</em>, caut un ONG. Cum il gasesc?</h3>

        <p>Cum frondator unda, omnes bursaes gratia nobilis, festus medicinaes. Usus ridetiss, tanquam noster saga.</p>
        <span>read more</span>

      </div>

      <div class="section">
        <h3>Stiu catre cine vreau sa redirectionez <em>2 la suta</em>. Ce fac mai departe?</h3>

        <p>Cum frondator unda, omnes bursaes gratia nobilis, festus medicinaes. Usus ridetiss, tanquam noster saga.</p>
        <span>read more</span>

      </div>

    </div>

  </div>

</div>


