// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight_color : #404040;

$default_text_color: #404040;

$headline_color: #0E232F;


#siteHeader {

//  border-bottom: 1px solid #909090;

}

h1 {

  font-size: 50px;

  color: $default_text_color;

  margin-top: 40px;

  border-bottom: 1px solid #909090;
}

a.root-path {

  text-decoration: none;
  color: inherit;

}

div.section {

  margin: 0px 0;

  padding: 20px 20px;

  border-bottom: 1px solid #DADADA;

  color: $default_text_color;

}

div.section:last-of-type {
  border: none;
}


div.section:hover {

  transition-duration: .4s;
  transition-property: border, color;

  cursor: pointer;

  color: #404040;

  background-color: white;

}

div.section h3 {
  color: $headline_color;
}

div.section:hover h3 {

  transition: .4s;
  transition-property: color;

//  color: #00A36A;
  color: $highlight_color;
//  text-shadow: 0 0 4px rgba(0, 0, 0, .2);

}

div.social-icon-wrapper {

  color: $highlight_color;

}

div.social-icon-wrapper:hover {

//  border: 1px solid $highlight_color;
//
//  border-radius: 50%;

  color: $highlight_color;

  cursor: pointer;

}


