
.top3 {
  margin-top: 3px;
}

.top5 {
  margin-top: 5px;
}

.top8 {
  margin-top: 7px;
}

.top13 {
  margin-top: 10px;
}

.top21 {
  margin-top: 20px;
}

.top34 {
  margin-top: 34px;
}

.top55 {
  margin-top: 55px;
}


.left5 {
  margin-left: 5px;
}

.left8 {
  margin-left: 8px;
}

.left13 {
  margin-left: 13px;
}

.left21 {
  margin-left: 21px;
}